Form{
	color: yellow;
	text-align: center;
	padding:20px 600px 20px 500px;

}
body{
	background-color: deepskyblue;
	background-image: url(building.jpg);
}

.Login{
	width: 320px;
	height: 350px;
	background: rgba(0, 0, 0, 0.5);
}

h1{
	color: yellow;
}

h5{
	background-image: url(building1.jpg);
	color: yellow;
	text-align: center;
}